.logo-image {
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}

body {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.imagem{
    border: 5px solid #fff;
    border-radius: 100%;
    object-fit: cover;
    width: 150px;
    height: 150px;
}